$box_color: hsl(216, 100%, 50%, 0.5);
$small_cube_color: hsl(0, 0%, 100%, 0.5);
$ball_color: $box_color;

$rotate_speed: 30s;
$bounce_speed: 2s;

$box_size: 200px;

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100vw;
//   height: 100vh;
//   overflow: hidden;
//   background-color: hsl(0, 0, 0);
//   font-size: 100px;

//   perspective: 10em;
//   perspective-origin: 50% calc(50% - 2em);
// }
.bouncy_box_animation_container {
  width: 15rem;
  height: 10rem;
}
.cube_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 10rem;
  overflow: hidden;
  background-color: hsl(0, 0, 0);
  font-size: 100px;

  perspective: 150rem;
  perspective-origin: -100% calc(25% - 10rem);
  // perspective-origin: 100%;
}

.scene {
  position: relative;
  transform: scale(50%);
  transform-style: preserve-3d;
  // animation: scene_rotate $rotate_speed infinite linear;
}

@keyframes scene_rotate {
  to {
    transform: scale(50%);
    transform: rotateY(360deg);
  }
}

.cube {
}

.front {
  width: $box_size;
  height: $box_size;
  background-color: $box_color;
  position: absolute;
  bottom: -1em;
  left: -1em;
  // transform: translate3d();
  transform: translateZ(1em);
  animation: cube_animation $bounce_speed infinite ease-out;
}
.back {
  width: $box_size;
  height: $box_size;
  background-color: $box_color;
  position: absolute;
  bottom: -1em;
  left: -1em;
  // transform: translate3d();
  transform: rotateY(180deg) translateZ(1em);
  animation: cube_animation $bounce_speed infinite ease-out;
}
.left {
  width: $box_size;
  height: $box_size;
  background-color: $box_color;
  position: absolute;
  bottom: -1em;
  left: -1em;
  // transform: translate3d();
  transform: rotateY(270deg) translateZ(1em);
  animation: cube_animation $bounce_speed infinite ease-out;
}

.right {
  width: $box_size;
  height: $box_size;
  background-color: $box_color;
  position: absolute;
  bottom: -1em;
  left: -1em;
  // transform: translate3d();
  transform: rotateY(90deg) translateZ(1em);
  animation: cube_animation $bounce_speed infinite ease-out;
}

.bottom {
  width: $box_size;
  height: $box_size;
  background-color: hsl(216, 100%, 50%, 0.3);
  // background-color: red;
  position: absolute;
  bottom: -29.9rem;
  left: -1em;
  // transform: translate3d();
  transform: rotateX(90deg) rotateY(0deg) translateZ(1em);
  // animation: cube_animation $bounce_speed infinite ease-out;
}

@keyframes cube_animation {
  0%,
  100% {
    height: 1.5em;
  }

  8%,
  93.5% {
    height: 2em;
  }
}

.small_cube {
  // width: calc($box_size / 4);
  // height: calc($box_size / 4);
  // position: absolute;
  // left: -0.5em;
  // background-color: $small_cube_color;
  // // box-shadow: 0 0 0.5em #000a inset;
  // animation: small_cube_bounces $bounce_speed infinite ease-out;
}

.smal_cube_front {
  width: $box_size;
  height: $box_size;
  background-color: $box_color;
  position: absolute;
  bottom: -1em;
  left: -1em;
  // transform: translate3d();
  transform: translateZ(0.5em);
  animation: cube_animation $bounce_speed infinite ease-out;
  // transform: translateZ(0.5em);
  // width: calc($box_size / 4);
  // height: calc($box_size / 4);
  // position: absolute;
  // left: -0.5em;
  // background-color: $small_cube_color;
  // // box-shadow: 0 0 0.5em #000a inset;
  // animation: small_cube_bounces $bounce_speed infinite ease-out;
}
.smal_cube_right {
  transform: rotateY(90deg) translateZ(0.5em);
  width: calc($box_size / 4);
  height: calc($box_size / 4);
  position: absolute;
  left: -0.5em;
  background-color: $small_cube_color;
  // box-shadow: 0 0 0.5em #000a inset;
  animation: small_cube_bounces $bounce_speed infinite ease-out;
}
.smal_cube_left {
  transform: rotateY(270deg) translateZ(0.5em);
  width: calc($box_size / 4);
  height: calc($box_size / 4);
  position: absolute;
  left: -0.5em;
  background-color: $small_cube_color;
  // box-shadow: 0 0 0.5em #000a inset;
  animation: small_cube_bounces $bounce_speed infinite ease-out;
}
.smal_cube_back {
  transform: rotateY(180deg) translateZ(0.5em);
  width: calc($box_size / 4);
  height: calc($box_size / 4);
  position: absolute;
  left: -0.5em;
  background-color: $small_cube_color;
  // box-shadow: 0 0 0.5em #000a inset;
  animation: small_cube_bounces $bounce_speed infinite ease-out;
}

.smal_cube_top {
  opacity: 1;
  transform: translateY(-50%) rotateX(90deg);
  box-shadow: 0 0 0.5em #000a inset;
  width: calc($box_size / 4);
  height: calc($box_size / 4);
  position: absolute;
  left: -0.5em;
  background-color: $small_cube_color;
  // box-shadow: 0 0 0.5em #000a inset;
  animation: small_cube_bounces $bounce_speed infinite ease-out;
}

.smal_cube_bottom {
  transform: translateY(50%) rotateX(90deg);
  bottom: 0;
  // box-shadow: 0 0 0.5em #000a;
  width: calc($box_size / 4);
  height: calc($box_size / 4);
  position: absolute;
  left: -0.5em;
  background-color: $small_cube_color;
  // box-shadow: 0 0 0.5em #000a inset;
  animation: small_cube_bounces $bounce_speed infinite ease-out;
}

@keyframes small_cube_bounces {
  0%,
  100% {
    bottom: 0.5em;
  }
  50% {
    bottom: 3em;
    animation-timing-function: ease-in;
  }
}
.ball {
  width: 1em;
  height: 1em;
  border-radius: 50%;

  position: absolute;
  left: -0.5em;
  bottom: 1em;
  background-color: $ball_color;
  background-image: radial-gradient(circle at top, lightblue, 70%, #000);

  // animation: ball_bounces $bounce_speed infinite ease-out,
  //   scene_rotate $rotate_speed infinite linear reverse;
  animation: ball_bounces $bounce_speed infinite ease-out;
}

@keyframes ball_bounces {
  0%,
  100% {
    bottom: 0.5em;
  }
  50% {
    bottom: 3em;
    animation-timing-function: ease-in;
  }
}

.ball_shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#0007, #0000 50%);
  animation: ball_shadow_animation $bounce_speed infinite ease-out;
}

@keyframes ball_shadow_animation {
  0%,
  8%,
  93.5%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
    animation-timing-function: ease-in;
  }
}
.floor {
  position: absolute;
  width: 15em;
  height: 15em;
  background-image: radial-gradient(#0000, #000 75%),
    repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);
  background-size: 100%, 1em 1em;

  transform: translate(-50%, -50%) rotateX(90deg);
  top: 1em;
}
