$white: #fff;
$gray: #333;
$blue: #0424d9;
$white: #fff;
$gray: #333;
$blue: #0424d9;
$black: #000;
$shadow_black: rgba(0, 0, 0, 0.2);

$heading_text_color: #000;
$title_text_size: clamp(1.5rem, 2.5vh, 2rem);
$content_text_size: clamp(0.75rem, 2vh, 1.5rem);
