$white: #fff;
$gray: #333;
$blue: #0424d9;
$white: #fff;
$gray: #333;
$black: #000;
$shadow_black: rgba(0, 0, 0, 0.2);
$dark_purple: #7c81e3;

$initialTextColor: #94a1b2;
$slideTextColor: #fff;
$initialBgColor: #fff;
$slideBgColor: #9f9fed;
$standard_spacing: 5px;
