@use '_variables' as *;

.drop_down_card {
  color: $initialTextColor;
}

.drop_down_banner {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 15rem;
  height: 10rem;
  background-color: #333;
}

.drop_down_banner:hover {
  background-color: #222;
}

.card_icon_container {
  height: 6rem;
  width: 6rem;
  background-color: #010101;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10vh;
  margin: 0 auto;
}

.card_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_icon i {
  font-size: 3rem;
}

@mixin slider($bg_color) {
  color: initial;

  background-image: linear-gradient(
    $initialBgColor 0%,
    $initialBgColor 50%,
    $bg_color 50%,
    $bg_color 100%
  );
  background-size: 100% 200%;
  transition: background-position 0.3s ease-in-out, 0.1s linear;

  &:hover {
    color: $slideTextColor;
    // cursor: pointer;
    background-position: 100% 100%;

    .card_info div {
      color: $slideTextColor;
    }
  }
}

.drop_down_card {
  @include slider($dark_purple);
}

// .card_1 {
//   @include slider($dark_purple);
// }
